body{
    background-color:black;
    color:blanchedalmond;
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

h1{
    font-size: 1.49cm;
    font-family: fantasy;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}

.name{
    margin-top: 3.23cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    margin-right: 2.29cm;
}
.name input[type="name"]{
    padding: 0.64cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px black;

}

.name input[type="button"]{
    margin-top: 0.23cm !important;
    font-size: 0.47cm;
    background:darkred;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}



.Primeira-Aula{
    margin-top: 0.89cm !important; 
}

.Primeira-Aula input[type="button"]{
    font-size: 0.47cm;
    background:darkred;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}

.Segunda-Aula{
    margin-top: 0.19cm !important; 
}

.Segunda-Aula input[type="button"]{
    font-size: 0.47cm;
    background:darkblue;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Terceira-Aula{
    margin-top: 0.19cm !important; 
}

.Terceira-Aula input[type="button"]{
    font-size: 0.47cm;
    background:greenyellow;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Quarta-Aula{
    margin-top: 0.19cm !important; 
}

.Quarta-Aula input[type="button"]{
    font-size: 0.47cm;
    background:darkviolet;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Quinta-Aula{
    margin-top: 0.19cm !important; 
}

.Quinta-Aula input[type="button"]{
    font-size: 0.47cm;
    background:orange;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Perguntas-1{
    margin-top: 0.19cm !important; 
}

.Perguntas-1 input[type="button"]{
    font-size: 0.47cm;
    background:skyblue;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Sexta-Aula{
    margin-top: 0.19cm !important; 
}

.Sexta-Aula input[type="button"]{
    font-size: 0.47cm;
    background:fuchsia;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}
.Setima-Aula{
    margin-top: 0.19cm !important; 
}

.Setima-Aula input[type="button"]{
    font-size: 0.47cm;
    background:lightslategray;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}

span{
    color: red;
}

@media (min-width:480px){
    body{
        width:100% !important;
        margin:auto !important;
    }
    #Finale{
        margin-top: 1.19cm !important;
    }

    #img00{
        width:100% !important;
    
        height: 550px !important;
    
    }

    #img1{
        width:100% !important;
        margin:0;
        height: 550px !important;
    
    }

    #img2{
        width:100% !important;
        margin:0;
        height: 550px !important;
    }

    #img3{
        width:100% !important;
        margin:0;
        height: 550px !important;
    }

    #img4{
        width:100% !important;
        margin:0;
        height: 550px !important;
    }
}




